a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  background-repeat: no-repeat;
  background-image: url(./images/BackgroundHeader.png);
  display: flex;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 32px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 186px;
  height: 72px;
}

.nav-list {
  width: 325px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-list-item {
  color: #ffffff;
}

.header-btn {
  width: 141px;
  height: 41.69px;
  text-align: center;
  color: #26c7ea;
  margin: 0 auto;
  display: block;
}

.lang {
  width: 107px;
  text-align: center;
  display: flex;
  color: #ffffff;
}

.lang-text {
}

.lang-img {
  width: 36px;
  height: 20px;
}

.hero {
  background-repeat: no-repeat;
  background-image: url(/CSS/images/BackgroundHero.png);
}

.hero-text {
}
