a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(../images/BackHeader.png);
  width: 1440px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center;*/
  padding: 39px;
}

.header-container {
  margin: 0 auto;
  display: flex;
  width: 1032px;
}

.logo {
  width: 186px;
  height: 72px;
}

.nav-list {
  height: 24px;
  width: 325px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-list-item {
  color: #ffffff;
}

.header-btn {
  width: 141px;
  height: 41.69px;
  left: 1095px;
  top: 54px;
  background: #0b0e66;
  border: 2px solid #26c7ea;
  border-radius: 35px 0px;
  text-align: center;
  color: #26c6ea;
  margin: 0 auto;
  display: block;
}

.lang {
  width: 107px;
  text-align: center;
  display: flex;
  color: #ffffff;
}

.lang-text {
}

.lang-img {
  width: 36px;
  height: 20px;
}

.herro {
  width: 1440px;
  background: url(../images/BackgroundHero.png);
  background-repeat: no-repeat;
}

.hero-container {
  width: 1032px;
}

.hero-text {
  color: #ffffff;
}

.hero-btn {
  width: 260px;
  height: 80px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #26c7ea;
  background: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0px;
}

.hero-link {
  height: 141px;
  width: 50px;
}

.quotes {
  margin: 0 auto;
  display: flex;
}

.quotes-text {
  color: #0a3853;
  text-align: justify;
}

.quotes-avtor {
  text-align: center;
  color: #000000;
}

.bigorel {
  width: 400px;
}
